---
import Container from "../components/Container.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Konosuke's Portfolio</title>
	</head>
	<body>
		<Container>
			<h1>Konosuke Sakai</h1>
			<img src="https://github-readme-tech-stack.vercel.app/api/cards?theme=catppuccin_macchiato&title=My%20Tech%20Stack&lineCount=5&line1=v,v,5D87BF;go,go,00ADD8;python,python,3776AB;archlinux,arch%20linux,1793D1;linux,linux,FCC624&line2=css3,css3,1572B6;javascript,javascript,F7DF1E;html5,html5,E34F26;typescript,typescript,3178C6&line3=cplusplus,c%2b%2b,00599C;csharp,c%20sharp,239120;c,c,A8B9CC;inkscape,inkscape,000000&line4=neovim,neovim,57A143;vim,vim,019733;visualstudiocode,visual%20studio%20code,007ACC;unity,unity,FFFFFF&line5=astro,astro,FF5D01;svelte,svelte,FF3E00;vuedotjs,vue,4FC08D;react,react,61DAFB" alt="My Tech Stack" />
			<a href="https://github.com/anuraghazra/github-readme-stats"><img src="https://github-readme-stats.vercel.app/api?username=sakkke&show_icons=true&bg_color=24273a&text_color=cad3f5&icon_color=c6a0f6&title_color=8bd5ca" alt="Konosuke's GitHub stats" /></a>
			<a href="https://github.com/sakkke/flightos"><img src="https://github-readme-stats.vercel.app/api/pin/?username=sakkke&repo=flightos&show_owner=true&bg_color=24273a&text_color=cad3f5&icon_color=c6a0f6&title_color=8bd5ca" alt="Flight OS" /></a>
		</Container>
	</body>
</html>
