---
import Container from "../components/Container.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Konosuke's Portfolio</title>
	</head>
	<body>
		<Container>
			<h1>Konosuke Sakai</h1>
			<img src="https://github-readme-tech-stack.vercel.app/api/cards?theme=catppuccin_macchiato&title=My%20Tech%20Stack&lineCount=1&line1=v,v,5D87BF" alt="My Tech Stack" />
			<a href="https://github.com/anuraghazra/github-readme-stats"><img src="https://github-readme-stats.vercel.app/api?username=sakkke&show_icons=true&bg_color=24273a&text_color=cad3f5&icon_color=c6a0f6&title_color=8bd5ca" alt="Konosuke's GitHub stats" /></a>
			<a href="https://github.com/anuraghazra/github-readme-stats"><img src="https://github-readme-stats.vercel.app/api/top-langs/?username=sakkke&layout=compact&langs_count=10&bg_color=24273a&text_color=cad3f5&icon_color=c6a0f6&title_color=8bd5ca" alt="Top Langs" /></a>
			<a href="https://github.com/sakkke/flightos"><img src="https://github-readme-stats.vercel.app/api/pin/?username=sakkke&repo=flightos&show_owner=true&bg_color=24273a&text_color=cad3f5&icon_color=c6a0f6&title_color=8bd5ca" alt="Flight OS" /></a>
		</Container>
	</body>
</html>
